/* Box-sizing hack to redefine width to include border */
* {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

body {
  background-color: lightgray;
  color: yellow;
  font-family: sans-serif;
  margin: 0; }

h5 {
  color: #bababa; }

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "s s s c c c c c c c c c";
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  padding-top: 6vh; }
  @media screen and (max-width: 600px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "h h h" "s s s" "f f f"; } }

.header {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: red;
  width: 100%;
  height: 6vh; }

.sidebar {
  grid-area: s;
  background-color: green;
  width: 100%;
  padding-bottom: 12vh; }

.content {
  grid-area: c;
  background-color: orange;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 600px) {
    .content {
      display: none; } }

footer {
  bottom: 0;
  position: fixed;
  width: 100%; }

.footer {
  margin: auto;
  text-align: center;
  background-color: tomato;
  width: 60%;
  height: 12vh; }

.test-row {
  height: 8em; }
