@import './_variables.scss';

/* Box-sizing hack to redefine width to include border */
* {
  box-sizing: content-box;
}

body {
  background-color: lightgray;
  color: yellow;
  font-family: sans-serif;
  margin: 0;
  font-family: $primary-font;
}

h5 {
  color: rgb(186, 186, 186);
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 
    "s s s c c c c c c c c c";
    
  justify-items: center;
  align-items: center;
  width: 100vw;
  padding-top: 8vh;

  @include phone {
    display: flex;
    width: 100%;
  }
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: black;
  color: $gray;
  font-weight: 700;
  width: 100%;
  height: 8vh;
  padding: 0 $desktopSidePadding;
  letter-spacing: .05em;
  @include text-crop;

  @include phone {
    height: 9vh;
    padding: .02em $phoneSidePadding;
  }
}

.header-title--color {
  color: white;
}

.sidebar {
  grid-area: s;
  background-color: black;
  width: 100%;
  padding-bottom: 12vh;

  @include phone {
    padding-bottom: 20vh;
  }
}

.stockquote-wrapper {
  display: grid;
  padding: .75em $desktopSidePadding;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: .5em 1em;
  border-bottom: 1px solid $silver;
  grid-template-areas: 
    "sym sym spa pri"
    "nam nam spa cha";

  @include phone {
    padding: .75em $phoneSidePadding;
  }
}

.stockquote-symbol {
  grid-area: sym;
  color: white;
}

.stockquote-name {
  grid-area: nam;
  color: $gray;
  font-size: .9em;
}

.stockquote-sparkline {
  grid-area: spa;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stockquote-price {
  grid-area: pri;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.stockquote-change--wrapper {
  grid-area: cha;
  display: flex;
  justify-content: flex-end;
}

.stockquote-change {
  grid-area: cha;
  max-width: 6em;
  background-color: $green;
  color: white;
  border-radius: .25em;
  display: flex;
  justify-content: flex-end;
  padding-right: .25em;
  width: 3.5em;
}

.content {
  grid-area: c;
  background-color: black;
  width: 100%;
  height: 100%;
  @include phone {
    display: none;
  }
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer {
  margin: auto;
  text-align: center;
  background-color: tomato;
  width: 60%;
  height: 12vh;

  @include phone {
    width: 100%;
    height: 20vh;
  }
}

.test-row {
  height: 8em;
}