@import './_variables.scss';

/* Box-sizing hack to redefine width to include border */
* {
  box-sizing: content-box;
}

body {
  background-color: lightgray;
  color: yellow;
  font-family: sans-serif;
  margin: 0;
}

h5 {
  color: rgb(186, 186, 186);
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 
    "s s s c c c c c c c c c";
    
  justify-items: center;
  align-items: center;
  width: 100vw;
  padding-top: 6vh;

  @include phone {
    display: flex;
    width: 100%;
  }
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: red;
  width: 100%;
  height: 6vh;

  @include phone {
    height: 9vh;
  }
}

.sidebar {
  grid-area: s;
  background-color: green;
  width: 100%;
  padding-bottom: 12vh;

  @include phone {
    padding-bottom: 20vh;
  }
}

.content {
  grid-area: c;
  background-color: orange;
  width: 100%;
  height: 100%;
  @include phone {
    display: none;
  }
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer {
  margin: auto;
  text-align: center;
  background-color: tomato;
  width: 60%;
  height: 12vh;

  @include phone {
    width: 100%;
    height: 20vh;
  }
}

.test-row {
  height: 8em;
}